* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #edede9;
}

$base-padding: 20px;
$base-margin: $base-padding;

$font-size: 16px;
$font-size-s: 13px;
$font-size-lg: 18px;
$font-size-xlg: 24px;
$font-size-xxlg: 50px;
$font-size-xxxlg: 70px;

$white: #fff;
$black: #221F1F;
$darkRed: #F40612;
$lightRed: #FF4136;
$silver: #999;
